{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/select2.min.css' %}" />
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block navbar %}{% endblock %}
    <div class="container-fluid pt-3 px-4">
      
      {% block content %}

      {% endblock %}
    </div>

    <!-- JS -->
    {% block script %}{% endblock %}
    <script type="text/javascript" src="{% static 'global/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'global/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
